# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# runtime uploads
/public/uploads/

# env files
.env*
.env*.local

# vercel
.vercel
/dist/
/dist_*/
app.log

# typescript
*.tsbuildinfo
next-env.d.ts

# archives
*.zip

# app data
/brain/

# large media files
*.mp4
public/**/*.mp4